<%
const query = site.queryPages;
  const [currentPage] = query(({pathname}) => page.pathname === pathname);
  const pathnameParts = currentPage.originalPathname.split("/"); %>
  
  <ol>
    <% 
    for (let i=0; i < pathnameParts.length; i++) {
      const pickOriginalPathname = pathnameParts.slice(0, i).join("/");
      const [{pathname, title, menu}] = query(({originalPathname}) => 
        originalPathname == pickOriginalPathname); %>
        <li>
        <a href="/<%= pathname %>"><%= menu ? menu : title %></a>
        </li>
    <% } %>
    <li aria-current="page"><%= currentPage.menu ? currentPage.menu : currentPage.title %></li>
  </ol>
