<%
const query = site.queryPages;
if (page.pathname !== '') {
  const [queryPage] = query(({pathname}) => page.pathname === pathname);
  const pathnameParts = queryPage.originalPathname.split('/'); %>
  
  <nav aria-label='Breadcrumb' id='breadcrumb'>
  <ol>
    <% 
    for (let i=0; i <= pathnameParts.length; i++) {
      const pickOriginalPathname = pathnameParts.slice(0, i).join("/");
      const [{pathname, title}] = query(({originalPathname}) => originalPathname == pickOriginalPathname);
      if (i == pathnameParts.length) { %>
        <span aria-current='page'><%= title %></span>
      <% }  else { %>
        <li>
        <a href = '<%= pathname %>'><%= title %></a>
        </li>
    <% }
    } %>
  </ol>
</nav>
<% } %>
