<%
const query = site.queryPages;
const subPages = site.getSubPages;

const navigation = [];
for (const menuItem of site.menuItems) {
  const page = query(({originalPathname}) => originalPathname === menuItem)[0];
  navigation.push(subPages(JSON.parse(JSON.stringify(page))));
}
%>

<nav id="main-navigation">
  <%- include('_renderNavigation', {navigationData: navigation}) %>
</nav>

<nav id="mobile-nav">
<select>
   <% for ({title, link, sub_items} of navigation) { %>
      <option value="<%- link %>"><%- title %></option>
    <% } %>
</select>
</nav>
