<%
const query = site.queryPages;
const [currentPage] = query(({pathname}) => page.pathname === pathname);
const currenOriginalPath = currentPage.originalPathname;

const navigation = [];
for (const menuItem of site.menuItems) {
  let otherPage = query(({originalPathname}) => originalPathname === menuItem)[0];
  if (menuItem === currenOriginalPath.split("/")[0]) {
    otherPage = site.getSubPages(otherPage);
  }
  navigation.push(otherPage);
}
  function recNav(navig) { %>
    <ul>
      <% for (const {title, pathname, originalPathname, sub_items} of navig) { %>
        <li <%- currenOriginalPath == originalPathname &&
          currenOriginalPath.split("/").length == 1  ? "class='current-menu'" : "" %>>
          <a href="/<%= pathname %>"><%= title %></a>
            <%
              if (sub_items) {
                recNav(sub_items);
            } %>
        </li>
      <% } %>
    </ul>
  <% }
  recNav(navigation) %>