<!DOCTYPE html>
<html>
  <head>
    <% include _head %>
  </head>
  <body>
    <header>
      <h1><a href="#"><%= site.title %></a></h1>
      <p><%= site.subtitle %></p>
      <% include _navigation %>
    </header>
    <main>
      <%- page.body %>
    </main>
  </body>
</html>


<script>
 
</script>