<!DOCTYPE html>
<html>
  <head>
    <% include _head %>
  </head>
  <body>
    <div>
      <% include _header %>
      <main>
        <article>
        <h1>
          <%= page.title %>
        </h1>
        <%- page.body %>
        </article>
      </main>
  </div>
  </body>
  <footer>
    <% include _footer %>
  </footer>
</html>
