---
title: Interface
weight: 1
permalink: interface
---

<p>
  The main part of the interface are:
</p>

<%- site.listOfPages(page.pathname); %>
<p>
<img src= "/images/interface.jpg" width="400px">
</p>