---
title: Interface
weight: 1
permalink: interface
edit: documentation/interface/index.ejs
---

<p>
  The main part of the interface are:
</p>

<%- site.listOfPages(page.pathname); %>
<p>
<img src= "/images/extension/popup.jpg" alt="CBA popup" width="400px">
</p>
