---
title: Options
permalink: options
weight: 7
---

<p>
  Section that describe extension options page. 
</p>
<p>
  Options:
</p>
<%- site.listOfPages(page.pathname); %>
<p>
  Access to options page:
</p>
<p>
  <img src='/images/access-options.jpg'>
</p>
