---
title: Options
permalink: options
weight: 7
---

Section that describe extension options page. 

Options:
<%- site.listOfPages(page.pathname); %>

Access to options page:
<p><img src='/images/access-options.jpg'></p>
