---
title: Options
permalink: options
weight: 7
---

Section that describe extension options page. 

Options:
<%- site.pagesList('documentation/options'); %>

Access to options page:
<p><img src='/images/access-options.jpg'></p>