---
title: Options
permalink: options
weight: 7
edit: documentation/options/index.ejs
---

<p>
  Section that describe extension options page. 
</p>
<p>
  Options:
</p>
<%- site.listOfPages(page.pathname); %>
<p>
  Access to options page:
</p>
<p>
  <img src="/images/extension/open-options.jpg" alt="Options item highlihgted in CBA browserAction context menu">
</p>
