/* Usage example:
<div data-example="bg-function">

```
<$function=saveToClipboard>
<$attr={"name": "value"}>
```
</div>
*/

article [data-example]
{
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 30px auto;
  background-color: #f0f0f0;
  max-width: 600px;
  color: black;
  margin-top: 5px;
  font-size: 13px;
  > pre:nth-of-type(1)
  {
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
    margin: 5px;
    border: 1px solid #868686;
    padding: 5px;
    background-color: white;
    min-height: 55px;
  }
  select {
    width: 92px;
    height: fit-content;
  }
  > pre:nth-of-type(2)
  {
    overflow: hidden;
    border: 1px solid #868686;
    background-color: white;
    display: inline-block;
    text-align: start;
  }
  > pre:nth-of-type(2), input
  {
    height: 17px;
    max-width: 200px;
    margin: 5px;
    padding: 1px 5px;
  }
  code
  {
    display: block;
    height: 100%;
    overflow-y:scroll;
    background: none;
    padding: 0;
  }
  div
  {
    margin: 7px 5px;
  }
  div::after
  {
    content: "";
    display: inline-block;
    background-image: url("/images/icons/action-info.svg#default");
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin: 0px 5px 2px 5px;
  }
}
