article
{
  font-size: 0.9rem;
  color: #444444;
  font-weight: 400;
  line-height: 1.5;
}

article img
{
  max-width: 100%;
}

article p:first-of-type img
{
  margin-top: 16px;
}

article p
{
  margin: 14px 0 0 0;
}

article ul
{
  margin: 20px 0 0 0;
}

article h1
{
  font-size: 2.4em;
  line-height: 1.4em;
  margin: 20px 0 0 0;
  font-weight: 300;
  color:#181818;
}

article h2,
article h3,
article h4
{
  margin: 14px 0 0 0;
  font-weight: 600;
}

article h2
{
  font-size: 1.5em;
  line-height: 1.3em;
}

article h3
{
  font-size: 1.4em;
  line-height: 1.2em;
}

article h4
{
  font-size: 1.12em;
  line-height: 1.1;
}

article a, article a:visited
{
  color: #2883DE;
}

article a:hover
{
  color:#000000;
  text-decoration: none;
}

article a:focus
{
  color:#000000;
}

article pre,
article code
{
  background-color: #f0f0f0;
}

article code
{
  padding: 2px 5px;
}

article pre code
{
  padding: 0;
}

article pre
{
  padding: 11px 18px;
}
