main article img
{
  max-width: 100%;
}

article
{
  color: #444444;
}

article p, article ul, article ol
{
  font-size: 14px;
  margin: 0 0 20px 0;
  line-height: 1.5;
}

article h1
{
  font-size: 35px;
  font-weight: normal;
  line-height: 140%;
  margin-bottom: 14px;
}

article h2
{
  font-size: 28px;
  font-weight: normal;
  line-height: 130%;
  margin-bottom: 10px;
}