.homepage div
{
  grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}

.homepage main article
{
  display: grid;
  grid-template-columns: auto auto;
}

.homepage main article > :first-child
{
  grid-column: 1 e("/") 3;
}

.box
{
  position: relative;
  background-color: #f2f2f2;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  padding: 10px 10px 60px 10px;
  margin: 20px 0 0 0;
}

.box:first-of-type
{
  margin: 20px 20px 0 0;
}

.box img 
{
  float: left;
  padding: 0 15px 0 0;
}

.box h3 
{
  margin: 0;
}

.box a
{
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  background: linear-gradient(#ffffff, #ececec);
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  padding: 10px;
}

.box a, .box a:hover, .box a:active, .box a:visited
{
  color: inherit;
}

.box a:hover
{
  cursor: pointer;
  background: linear-gradient(#d1d1d1, #fcfcfc);
}

.box a:active
{
  box-shadow: inset 0 0 8px 4px #d4d4d4;
}

@media screen and (max-width: 770px) 
{
  .homepage main article
  {
    grid-template-columns: auto;
  }

  .homepage main article > :first-child
  {
    grid-column: 1;
  }

  .homepage main article > img
  {
    margin: 0 auto;
  }

  .box:first-of-type
  {
    margin: 20px 0 0 0;
  }
}
