#sidebar
{
  font-weight: bold;
  font-size: 14px;
  padding: 15px 45px 0px 0px;
  white-space: nowrap;
  grid-area: sidebar;
}

#sidebar h2
{
  margin: 0;
}

#sidebar li
{
  list-style: none;
  line-height: 2.5;
}

#sidebar > ul
{
  padding: 0 10px;
}

#sidebar > ul ul
{
  padding: 0 10px;
}

#sidebar ul ul ul
{
  padding: 0 25px;
}

#sidebar a
{
  text-decoration: none;
  color: #666666;
}

#sidebar > ul > li > a
{
  color:#2883DE;
}

#sidebar li:hover > a, #sidebar li.current-menu > a
{
  color: #333333;
}

#sidebar > ul > li:before
{
  content: url('/images/arrow_bullet.png');
}

#sidebar > ul > li:hover:before, #sidebar li.current-menu:before
{
content: url('/images/arrow_bullet_dark.png');
}

#sidebar > ul > li
{
  border-bottom: 1px solid #eee;
}
