.topic
{
  margin: 40px 16px;
  display: flex;
  position: relative;
}

.topic > div
{
  display: flex;
  flex-direction: column;
}

.topic h2
{
  margin: 0;
  font-weight: 300;
}

.topic a
{
  color: #5EABBC !important;
}

.topic .button
{
  font-size: 1.5rem;
}

.topic img
{
  margin: 0 20px;
  max-width: 150px;
}
