@import "_variables.less";
@import "_body-wrapper.less";
@import "_header.less";
@import "_navigation.less";
@import "_content.less";
@import "_footer.less";

body div
{
  grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}

#notification
{
  a
  {
    font-weight: 700;
    text-decoration: none;
    color: #375199;
  }
  padding: 10px;
  background-color: #f59a5a;
  max-width: initial;
  text-align: center;
}

main article
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  font-size: 0.9rem;
}

main article ol
{
  line-height: 1.4rem;
  align-self: center;
}

main article h1
{
  margin: 15px 0 0 0;
  line-height: 38px;
  font-weight: 300;
  font-size: 35px;
  color: #181818;
}

article > * 
{
  margin-top:15px
}

main article > *:first-child
{
  grid-column: 1 e("/") 3;
}

.box
{
  position: relative;
  background-color: #f2f2f2;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  padding: 10px 10px 60px 10px;
}

.box img 
{
  float: left;
  padding: 0 15px 0 0;
  margin: 0!important;
}

.box h2 
{
  font-size: 1.4em;
  line-height: 120%;
  margin: 0;
}

.box a
{
  font-weight: 600;
  font-size: 13px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  background: linear-gradient(#ffffff, #ececec);
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  padding: 8px 13px;
}

.box a, .box a:hover, .box a:active, .box a:visited
{
  color: inherit;
}

.box a:hover
{
  cursor: pointer;
  background: linear-gradient(#d1d1d1, #fcfcfc);
}

.box a:active
{
  box-shadow: inset 0 0 8px 4px #d4d4d4;
}

@media screen and (max-width: 770px) 
{
  main article h1
  {
    line-height: 49px;
  }
  
  main article
  {
    grid-template-columns: auto;
  }

  main article > *:first-child
  {
    grid-column: 1;
  }
}
