@import "_variables.less";
@import "_body-wrapper.less";
@import "_navigation.less";
@import "_notification.less";
@import "_header.less";
@import "_sidebar.less";
@import "_breadcrumb.less";
@import "_content.less";
@import "_edit.less";
@import "_cba-example.less";
@import "_footer.less";

body > div
{
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
}

main
{ 
  grid-area: main;
  padding: 15px 0;
}

@media screen and (max-width: 770px)
{
  body > div
  {
    grid-template-areas: 
    "header header"
    "sidebar sidebar"
    "main main"
    "footer footer";
  }
}