---
title: Homepage
---
<ol> <li> CBA gives ability to automate chrome browser </li>
    <li> ability to setup step-by-step code injections from Extensions popup interface. </li>
    <li> ability to Record interactions in the chrome browser and playing them. </li>
    <li> Projects saving in browser's local storage. </li>
    <li> Step by step code injection. </li>
    <li> Ability of projects import and export. </li>
    <li> Ability of using CBA ready functions. </li>
    <li> Ability to write your own code that will have access to web page's DOM. </li>
    <li> And much much more... </li>
    </ol>
    